    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="#" class="navbar-brand ms-3 d-lg-none">MENU</a>
        <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto p-3 p-lg-0">
				<img src="{{ asset('assets/img/logo.jpeg') }}" alt="Image" width="65" height="65" style="margin-right:30px;" />
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About Us</a>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
					<div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
					<a href="service.html" class="dropdown-item">Service Grid</a>
					<a href="service-detail.html" class="dropdown-item">Service Detail</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Projects</a>
					<div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
						<a href="project.html" class="dropdown-item">Project Grid</a>
						<a href="project-detail.html" class="dropdown-item">Project Detail</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blogs</a>
					<div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
						<a href="blog.html" class="dropdown-item">Blog Grid</a>
						<a href="blog-detail.html" class="dropdown-item">Blog Detail</a>
					</div>
				</div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                        <a href="feature.html" class="dropdown-item">Features</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
            </div>
            <a href="https://htmlcodex.com/web-design-agency-html-template-pro" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block">Pro Version</a>
        </div>
    </nav>
    <!-- Navbar End -->
